# Configuración MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASS=
MYSQL_DB=

# Permisos de operaciones
ALLOW_INSERT_OPERATION=false
ALLOW_UPDATE_OPERATION=false
ALLOW_DELETE_OPERATION=false
ALLOW_SELECT_OPERATION=true

# Configuración SSH
SSH_HOST=
SSH_USER=
SSH_PORT_MAPPING=3306:127.0.0.1:3306